.left-nav {
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.3rem;
    }

    li {
        font-size: 0.8rem;
        font-weight: 500;


        a.active {
            color: rgb(119, 119, 119);
        }
    }
}