.update-post {
    width: 100%;
    padding: 1rem;

    hr {

        margin: 2rem 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-block {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: left;
            padding: 1rem;
            width: 100%;


            label {
                font-family: var(--font-noto-sans);
                font-weight: 300;
                color: gray;
            }

            input,
            select {
                margin: 0;
                width: 80%;
                border-radius: 0.5rem;
                border: 1px solid rgba(161, 161, 161, 0.5);
                padding: 0.65rem;
                z-index: 2;
            }
        }
    }

}