.logout-bg {
    height: calc(100vh - 5.5rem);
    max-height: 100%;

    .logout {
        margin-top: 3rem;
        text-align: center;
        padding: 3rem;
        border-radius: 1rem;
        border: 1px solid rgba(161, 161, 161, 0.5);


        h4 {
            font-family: var(--font-noto-sans);
            font-weight: 400;
        }

        .space {
            margin: 1rem;
        }

        button {
            background-color: var(--dark-blue);
            width: 80px;
        }

        button:hover {
            background-color: var(--peach);
        }
    }

}