.post-bg {
    height: calc(100% - 5.5rem);
    max-height: 100%;
    position: relative;

    .post {
        margin-top: 2rem;
        text-align: center;
        font-family: var(--font-noto-sans);
        font-weight: 300;
        border-bottom: 1px dotted var(--dark-blue);
        padding-bottom: 2rem;
        width: 100%;
        max-width: 1200px;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        h1 {
            font-family: var(--font-lora);
            font-weight: 700;
            color: var(--peach);
            text-align: left;
            padding-left: 2.5rem;
        }

        .content {
            padding: 2rem;
            margin: 1rem;
            border-radius: 1rem;
            text-align: left;
            background-color: var(--light-gray);
            color: var(--dark-blue);
        }

        .post-endtag {
            text-align: end;
            margin-top: 1rem;
            margin-right: 2rem;
            color: var(--dark-blue);
        }
    }


    .comments {
        padding-bottom: 5rem;

        .add-new-comment {
            font-weight: 300;
            padding: 1rem;

            .new-comment {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                padding: 1rem;
                border-radius: 1rem;

                #plus {
                    margin-left: 1.25rem;
                }
            }


        }

        .comment {
            background-color: white;
            box-shadow: 1rem 1rem 2rem 2rem rgba(192, 192, 192, 0.2);
            margin: 2rem;
            border-radius: 1rem;
            font-family: var(--font-noto-sans);
            font-weight: 300;


            .content {
                padding: 2rem 1rem;
            }

            .post-endtag {
                display: flex;
                align-items: center;
                padding-left: 1rem;
                padding-top: 1.5rem;

                .commenter {
                    padding-left: 1rem;
                    font-size: 1.25rem;
                    font-weight: 700;
                    font-family: var(--font-allura);
                }

                .comment-date {
                    font-style: italic;
                    font-weight: 200;
                }
            }

            #pen,
            #trash {
                font-weight: 100;
                padding-left: 0.5rem;
            }

            #pen:hover,
            #trash:hover {
                transition: 0.8s;
                color: var(--dark-blue);
            }
        }


    }

    .modal,
    .comment-update {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(80, 83, 136, 0.85);
        width: 100vw;
        height: 100%;
        display: none; // Initially hide the modal

        &.active {
            display: block; // Display the modal when active
        }

        p {
            font-family: var(--font-noto-sans);
        }


        .modal-outlet {
            background-color: var(--light-gray);
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 400px;
            border-radius: 1rem;
        }

        button.close-modal-btn {
            background: none;
            color: var(--dark-blue);
            box-shadow: none;
            position: absolute;
            top: 0;
            right: 0;
        }

        button:active {
            box-shadow: none;
            color: var(--light-purple);
            transition: 2s;
        }

        button.close-modal-btn:hover {
            color: var(--peach);
        }
    }


}