.updateuserprofile-bg {
    height: calc(100vh - 5.5rem);
    max-height: 100%;

    .updateuserprofile {
        margin-top: 2rem;
        text-align: center;

        h1 {
            color: var(--peach);
            font-family: var(--font-noto-sans);
            font-weight: 700;
        }


        form {
            width: clamp(300px, 75vw, 500px);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;



            .username,
            .email {
                position: relative;
                margin-top: 2rem;

                label {
                    position: absolute;
                    font-family: var(--font-noto-sans);
                    font-weight: 300;
                    left: 12%;
                    top: 0;
                    transform: translateY(-50%);
                    z-index: 0;
                }

                label.active {
                    top: 0;
                    z-index: 0;
                }

                input {
                    margin: 1rem;
                    width: 80%;
                    border-radius: 0.5rem;
                    border: 1px solid rgba(161, 161, 161, 0.5);
                    padding: 0.65rem;
                    z-index: 3;
                    cursor: pointer;
                }


            }

            button {
                background-color: var(--dark-blue);
            }

            button:hover {
                background-color: var(--peach);
            }
        }
    }

}